{% extends "base.twig" %}

{% block content %}
	<article class="owl-single">

		<h1>{{ post.title ?: 'Unknown Species' }}</h1>

		{# 🖼️ Show image if one exists #}
		{% if post.thumbnail %}
			<a href="{{ post.thumbnail.src('full') }}" target="_blank">
				<img src="{{ post.thumbnail.src('large') }}" alt="Owl photo" class="owl-image"/>
			</a>
			<p>
				<a href="{{ post.thumbnail.src('full') }}" download class="download-btn">📥 Download full-size image</a>
			</p>
		{% endif %}


		<p>
			<strong>Date Spotted:</strong>
			{{ post.meta('owl_date_spotted')|date('m-d-Y') ?: 'Unknown date' }}
		<p>
			<strong>Species:</strong>
			{{ post.meta('owl_species') ?: 'Unknown species' }}</p>
		<p>
			<strong>WA County:</strong>
			{{ post.meta('owl_location') ?: 'Unknown location' }}</p>
		<p>
			<strong>Notes:</strong>
			{{ post.meta('owl_notes') ?: 'No notes provided' }}</p>
	</article>
{% endblock %}
